nav{
    width: 30%;
    margin: 0 auto;
    position: relative;
    top: 1px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul{
    list-style-type: none;
}
/* Largeur et position du menu déroulante */
nav ul li{
    float: left;
    width: 25%;
    text-align: left;
    position: relative;
}
nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
nav a:hover{
    color: blue;
    border-bottom: 2px solid blue;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
/* Mise en forme du menu déroulante */
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
    text-align: left;
    color: rgb(40, 10, 238);
}
.conteneur{
  margin: 50px 20px;
  height: 1500px;
}
.titre
{
    background-size: auto;
    text-align: center;
    font-size: 90px;
    color: #ececec;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 1em;
}
.bandeau{
    background: url(/home/step81/Romain/Images/img1.jpg);
    position: relative;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-size: 100% 100%;
}
.liste{
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
}
div#container{
    background:rgb(255, 255, 255);
    position: fixed;
    width:100%;
    height: 900px;
    padding:5em;
}  
a{
    color: rgb(109, 33, 33);
}
footer {
    position: absolute; bottom: 0; left: 0; right: 0;
    display: flex;
    justify-content: center;
    padding: 5em;
    background-color: rgb(133, 201, 233);
    color: black;
}
.logos {
    position: absolute ; 
    right: 10% ;
}
body{
    -moz-box-sizing: border-box; box-sizing: border-box;
}
.J1, .J2, .J3, .J4, .J5{
    float: left;
    width: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    display: inline-block;
    padding: 3em;
    background: white;
    color: black; 
    border-radius: 10% 30% 50% 70%;
    margin: 1em 15em 3em 3em;
    text-align: auto;
    font-weight: bold;
}
/* Mise en forme page recette */

.partie1{
    padding: 6em 2em 2em 2em;
    block-size: 150px;
}
.img-recette {
    border-radius: 50px;
    width: 600px;
    background-position: left;
}
.col-6 {
    width: 55%;
    block-size: 500px;
}
.col-9 {
    width: 100%;
}
.col-3 {
    width: 30%;
}
  
.text:after {
    content: "";
    display: table;
    clear: both;
}

/* Mise en forme du footer */

.footer-distributed .footer-left{
	width: 100%;
}
.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}